<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700" media="all">
		<!-- Magnific Popup core CSS file -->
		<link rel="stylesheet" href="css/magnific-popup.css">

		<!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

		<!-- Magnific Popup core JS file -->
		<script src="js/jquery.magnific-popup.js"></script>
	</head>
	<body>
		<header>
			<div class="container">
				<nav class="main-nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/programming.html">Programming</a></li>
						<li><a href="/photo-gallery.html">Photos</a></li>
					</ul>
				</nav>
				<h1><strong>{{ page.title }}</strong></h1>
			</div>
		</header>
		<div class="content">
{{ content }}
		</div>
		<footer>
			<div class="container">
				<p class="center-text">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
				<p class="center-text">Created by Esemwy</p>
			</div>
		</footer>
		<script>
			$(document).ready(function() {
				$('.popup-gallery').magnificPopup({
					delegate: 'a',
					type: 'image',
					tLoading: 'Loading image #%curr%...',
					mainClass: 'mfp-img-mobile',
					gallery: {
						enabled: true,
						navigateByImgClick: true,
						preload: [0,1] // Will preload 0 - before current, and 1 after the current image
					},
					image: {
						tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
						titleSrc: function(item) {
							return '<small>by Stephen M. Youndt</small>';
						}
					}
				});
			});
		</script>
	</body>
</html>
